.header-menu {
    padding: 13px 0;
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
}
.header-menu .dropdown-toggle {
    display: flex;
    align-items: center;
}
.header-menu .dropdown-toggle:after {
    content: "\fd63";
    font-family: uicons-regular-straight !important;
    border: none;
    font-size: 8px;
    padding: 5px 0 0 5px;
}
.header-menu .has-browse .dropdown-toggle:after {
    font-size: 12px;
}
.header-menu .nav-link {
    font-size: 16px;
    font-weight: 700;
    color: #253D4E;
    font-family: "Quicksand", sans-serif;
    padding: 8px 18px;
}
.header-menu .nav-link:hover {
    color: #3BB77E;
}
.header-menu .nav-link img {
    margin-right: 8px;
}
.header-menu .has-browse {
    margin-right: 20px;
}
.header-menu .has-browse .dropdown-toggle {
    color: #fff;
    background: #3BB77E;
    border-radius: 5px;
    padding: 10px 22px;
}
.header-menu .has-browse .dropdown-toggle:before {
    content: "\fd48";
    font-family: uicons-regular-straight !important;
    font-size: 16px;
    font-weight: normal;
    margin-right: 7px;
}

.hotline img {
    margin-right: 12px;
}
.hotline p {
    color: #3BB77E;
    font-size: 26px;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    display: block;
    line-height: 1;
    margin: 0;
}
.hotline p span {
    font-weight: 500;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #7E7E7E;
    display: block;
    letter-spacing: 0.9px;
}